@import "tailwindcss";

@layer base {
  body {
    background-color: black;
    color: white;
  }
  body {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  @media (min-width: 640px) {
  }
  @media (min-width: 1024px) {
  }
}

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
